{% extends 'base.html.twig' %}

{% block body %}

<h1>Création d'un article</h1>

{{ form_start(formProject)}}


{{ form_row(formProject.Title, {'attr': {'placeholder' : "Titre de projet",'class' : "form-control" }})}}
{{ form_row(formProject.Description, {'attr': {'placeholder' : "Description du projet",'class' : "form-control"}})}}
{{ form_row(formProject.Image, {'attr': {'placeholder' : "Lien de l'image",'class' : "form-control"}})}}
{{ form_row(formProject.Github, {'attr': {'placeholder' : "Lien Github",'class' : "form-control"}})}}
{{ form_row(formProject.Weblink, {'attr': {'placeholder' : "Weblink",'class' : "form-control"}})}}

<button type="submit" class="btn btn-success"> Ajouter l'article</button>

{{ form_end(formProject)}}

{% endblock %}